<nav class="nav" [ngClass]="{ active: isMenuOpen }">
  <div class="menu-toggle" (click)="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <h1 *ngIf="menuType === 'default'" routerLink="/" style="cursor: pointer">
    Ecommerce
  </h1>
  <h1 *ngIf="menuType === 'seller'" routerLink="/" style="cursor: pointer">
    Seller Dashboard
  </h1>
  <div *ngIf="menuType === 'default'" class="input-container">
    <div class="input-wrapper">
      <input
        type="text"
        name="text"
        class="input"
        #searchInput
        placeholder="Search..."
        id="searchInput"
        (keyup)="searchProduct($event)"
        (blur)="hideSearch()"
      />
      <div class="search-button" (click)="submitSearch(searchInput.value)">
        Q
      </div>
    </div>
    <div class="suggested-result">
      <ul class="ul-search" *ngIf="searchResult && searchResult.length > 0">
        <li *ngFor="let item of searchResult">
          <a
            routerLink="/details{{ item.id }}"
            (mousedown)="redirectToDetails(item.id)"
            >{{ item.name }}</a
          >
        </li>
      </ul>
    </div>
  </div>
  <div [ngSwitch]="menuType" class="nav-links">
    <ul *ngSwitchCase="'default'">
      <li><a routerLink="/">Home</a></li>
      <li><a href="">Login</a></li>
      <li><a routerLink="/seller-auth">Seller</a></li>
      <li><a href="">Cart(0)</a></li>
    </ul>
    <ul *ngSwitchCase="'seller'">
      <li><a routerLink="/seller-home">Product Lists</a></li>
      <li><a routerLink="seller-add-product">Add Product</a></li>
      <li><a style="cursor: pointer" (click)="logout()">LogOut</a></li>
      <li>
        <a style="color: #8458b3">{{ sellerName }}</a>
      </li>
    </ul>
  </div>
</nav>
