# See https://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# local files
/.angular
/.vscode
/.idea
/*.iml
*.log

# IDE - VSCode
/.vscode

# IDE - WebStorm
/.idea

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
/nx-report
/yarn-error.log
/testem.log
/tsconfig.tsbuildinfo
/tslint.json
