.product-list {
    padding: 1rem;
    margin: 0 4rem;
}

.heading {
    text-align: center;
    margin: 1rem;
}

table {
    text-align: center;
    border-collapse: collapse;
}

table td,
table th {
    border: 1px grey solid;
    padding: 10px;
    min-width: 10rem;
}

img {
    width: 100px;
    height: auto;
}

.deleted-msg {
    color: red;
}

.actions>fa-icon {
    margin: 0 4px;
}