<div class="container">
  <div class="product-list">
    <h1 class="heading">Product List</h1>
    <p class="deleted-msg">{{ productMessage }}</p>
    <table>
      <thead>
        <tr>
          <th>Image</th>
          <th>Name</th>
          <th>Price</th>
          <th>Color</th>
          <th>Description</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of productList">
          <td><img src="{{ item.image }}" alt="Product" /></td>
          <td>{{ item.name }}</td>
          <td>{{ item.price }}</td>
          <td>{{ item.color }}</td>
          <td>{{ item.desc }}</td>
          <td class="actions">
            <fa-icon (click)="deleteProduct(item.id)" [icon]="icon"></fa-icon>
            <fa-icon
              routerLink="/seller-update-product/{{ item.id }}"
              [icon]="editIcon"
              >Update</fa-icon
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
