/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --bg-color: #fff;
    /* Background color */
    --main-color: #323232;
    /* Main text and border color */
    --font-color: #323232;
    /* Font color */
    --font-color-sub: #666;
    /* Subtle font color */
    --input-focus: #2d8cf0;
    /* Input focus color */
}

/* Add other common styles that use these variables here */


body {
    font-family: sans-serif;
}



/* form classes */
.form {
    margin: 1rem .75rem;
    padding: 2rem 1.5rem;
    border: 2px solid red;
    border-radius: .5rem;
    text-align: center;
    width: 20rem;
}

.form-input {
    padding: .5rem 1rem;
    margin: .5rem 1rem;
    border-radius: .25rem;
}

.form-btn {
    width: 5rem;
    text-align: center;
    margin: auto;
    padding: .5rem .5rem;
    background: yellow;
    cursor: pointer;
    border-radius: .5rem;
}